# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
(retired) Arrow Diagram.ipynb
2months-Workflow setup.ipynb
FirasPlots.ipynb
Sci 1 Gender.ipynb
Workflow setup.ipynb
.ipynb_checkpoints/Workflow setup-checkpoint.ipynb
export/plots_neg0pos.pdf
raw/140929_InterCLASS_forJC(E_CLASS).xlsx
raw/2014W-SCIE001-General Info for InterCLASS.xlsx
raw/2014W-SCIE001-HS Grades for InterCLASS.xlsx
raw/2014WT1-BIOL121-Connect Survey Attempt Statistics-3.xlsx
raw/classlists_2014W_UBC_SCIE_001_001.xls
raw/DO_NOT_USE_Sci1_Post.xlsx
raw/DO_NOT_USE_Sci1_Pre.xlsx
raw/InterCLASS-Sci1-Pre-Raw Data (no names).xlsx
raw/Marks-Sci1-(no names).xlsx
raw/processed_2014WT1-BIOL121-Post.xlsx
raw/processed_2014WT1-BIOL121-Pre.xlsx
raw/processed_BIOL121 2014W2-Connect Survey Data-Post.xlsx
raw/processed_BIOL121 2014W2-Connect Survey Data-Pre.xlsx
raw/Sci1_gender.xls
raw/Sci1_Term2 Surveymonkey.xlsx
raw/Science 1 Term 2 Survey Vovici.xlsx
raw/Science One File Legend
raw/Biol121/2014WT1-BIOL121-Post.xlsx
raw/Biol121/2014WT1-BIOL121-Pre.xlsx
raw/Biol121/Class List.xlsx
raw/Biol121/other section genders.xlsx
raw/Biol121/pam's section_gender.xlsx
raw/Biol121/processed_2014WT1-BIOL121-Pre.xlsx
raw/Biol121/readme.rtf
raw/Biol121/~$2014WT1-BIOL121-Pre.xlsx
raw/Biol121/Bio121 T2 2014:2015/BIOL121 2014W2-Class List.xlsx
raw/Biol121/Bio121 T2 2014:2015/BIOL121 2014W2-Connect Survey Data-Post.xlsx
raw/Biol121/Bio121 T2 2014:2015/BIOL121 2014W2-Connect Survey Data-Pre.xlsx
export/arrowPlots/Biol 121 WT1 Post.png
export/arrowPlots/Biol 121 WT1 Pre.png
export/arrowPlots/Biol 121 WT2 Post.png
export/arrowPlots/Biol 121 WT2 Pre.png
export/arrowPlots/ENPH 259.png
export/arrowPlots/Phys 101 (Lab).png
export/arrowPlots/Phys 107 (Lab).png
export/arrowPlots/Phys 219.png
export/arrowPlots/Sci1 Pre.png
export/arrowPlots/Sci1 PreLab.png
export/arrowPlots/Sci1 T1.png
export/arrowPlots/Sci1 T2.png
export/arrowPlots/Vantage 107 (Lab).png
